/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of CSS reset */

* {
	box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 100%;
}

body {
  background: url(assets/freedom.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100 vw;
  height: 100 vh;
}

.site {
  text-align: center;
  padding-top: 6rem;
  width: 90%;
  margin: 0 auto;
}

.quote {
  font-size: 2rem;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
}

.author {
  font-style: italic;
  font-size: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

li {
  display: inline;
  padding: 7rem;
  width: 90%;
  margin: 0 auto;
}

/* még nem látogatott link */
a:link {
  color: #1E90FF;
}

/* már meglátogatott link */
a:visited {
  color: #00CED1;
}

/* kurzor alatti link */
a:hover {
  color: #191970;
}

/* kiválasztott link *
a:active {
  color: #00BFFF;
}

@media (max-width: 420px) {

  .site {
    font-size: 20%;
    background-color: blue;
  }

}